.Houses {
  max-width: 1440px;
  justify-content: space-between;
  margin: 3% auto;
  padding: 0 8%;
}
.houseCollapses {
  display: flex;
  justify-content: space-between;
}
.houseDetails {
  width: 48%;
  margin-top: 1.5rem;
}

.progress {
  width: 65%;
  height: auto;
  margin: 10rem auto;
  padding: 1rem 3rem;
  background-color: #ff606018;
  text-align: center;
  color: #ff6060;
  font-size: 1.2rem;
  font-weight: bolder;
}
@media screen and (max-width: 770px) {
  .houseCollapses {
    display: block;
    margin-top: 2rem;
  }
  .houseDetails {
    width: 100%;
  }
}
